"src/module-info.java" 
# 1. Ignore everything by default
*

# 2. But whitelist the folders we want to track
!/src/
!/spring_framework_basics/
!/spring_framework_basics2/
!.gitignore

# 3. Now ignore the junk inside those folders
**/target/
**/.settings/
**/.classpath
**/.project
**/.metadata/
**/.idea/
**/*.class
**/*.jar
