# Ignore everything by default
*

# Whitelist source code
!/src/
!/spring_framework_basics/
!/spring_framework_basics2/
!.gitignore

# Ignore IDE/Build junk recursively
**/.settings/
**/.classpath
**/.project
**/.metadata/
**/.idea/
**/*.class
**/*.jar
**/target/
**/bin/
**/build/